$mbutton-smoler-size: 2.2em;
$mbutton-smol-size: 24px;
$mbutton-std-size: 40px;
$mbutton-std-plus-size: 48px;
$mbutton-mid-size: 56px;
$mbutton-wide-size: 74px;

$main-distance: 32px;
$main-distance-smol: 12px;

$laptop-max-width: 1480px;
$hide-sidebar-max-width: 1176px;

$collapsed-max-width: 1400px;
$sidebar-width: 500px;
$sidebar-laptop-width: 372px;

$content-width: calc(100vw - (2 * $sidebar-width + 2 * $main-distance));
$content-laptop-width: calc(
  100vw - (2 * $sidebar-laptop-width + 2 * $main-distance-smol)
);
$content-hide-sidebar-width: calc(100vw - 6 * $main-distance);

$player-height: 90px;
$bruder-height: 70px;
$hide-sidebar-sidebar-width: 100px;
$hide-sidebar-content-width: calc(
  100vw - 2 * $hide-sidebar-sidebar-width - 2 * $main-distance
);
$bruder-distance: calc(2 * 20px + $bruder-height);

$cover-from-border-padding: 2px;
