@use "../framework/var.utils" as *;
@use "../framework/var.sizes" as *;
@use "../framework/classes" as *;
@use "../abstract" as *;

header {
  @media screen and (max-width: $mobile-max-width) {
    display: none !important;
  }

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $bruder-height + 48px;
  z-index: 99;
  padding: $main-distance;
  padding-inline: calc($main-distance * 2)
    calc(2 * $main-distance + ($main-distance/1.6));
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media screen and (max-width: $laptop-max-width) {
    padding-inline: calc($main-distance-smol * 2)
      calc($main-distance-smol * 2 + 6px);
  }

  @media screen and (max-width: $hide-sidebar-max-width) {
    padding-inline: $main-distance-smol;
  }
}

logo {
  picture {
    height: 56px;
    width: 56px;
  }
}

mbutton {
  &[repeat] {
    mi:before {
      display: block;
      content: "repeat";
    }

    [ttooltip]::before {
      content: "Alles nochmal spielen?";
    }
  }

  &[repeat="all"] {
    mi:before {
      content: "repeat";
    }

    [ttooltip]::before {
      content: "Einzelnen Song wiederholen?";
    }
  }

  &[repeat="single"] {
    mi:before {
      content: "repeat_one";
    }

    [ttooltip]::before {
      content: "Gar nichts wiederholen?";
    }
  }
}

theme-switcher {
  $theme-switcher-size: 56px;

  display: block;
  height: $theme-switcher-size;
  width: $theme-switcher-size;
  border-radius: 50%;
  background: $slight-light;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  @extend .window-light;

  // Light mode
  &:hover {
    background: $slighter-light;

    mi {
      margin-top: 8px;
    }
  }

  mi {
    background: $yellow;
    color: $dark;
    font-size: 38px;
    border-radius: 50%;
    height: $theme-switcher-size;
    width: $theme-switcher-size;
    margin-top: 0px;
    transition: $trans-cubic;

    &:before {
      display: block;
      content: "sentiment_excited";
    }
  }

  // Dark mode
  &[active] {
    background: $slighter-light;

    &:hover {
      background: $slight-light;

      mi {
        margin-top: 32px;
      }
    }

    mi {
      background: $orange;
      margin-top: 40px;

      &:before {
        display: block;
        content: "sentiment_calm";
      }
    }
  }
}
