@use "../framework/var.utils" as *;
@use "../framework/var.sizes" as *;
@use "../abstract" as *;

show-player {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  right: calc((100vw - $content-width) / 2 + $main-distance);
  z-index: 99;
  height: 3.2em;
  width: 3.2em;
  color: $tertiary;
  cursor: pointer;
  box-shadow: var(--mio-theme-elevation-1);
  bottom: -$player-height - 8px;
  transition: $trans-cubic;

  @extend .window;

  &:hover {
    box-shadow: var(--mio-theme-elevation-3);
    scale: 1.06;
  }

  &[collapsed] {
    bottom: $main-distance * 2;
  }
}

time-label {
  display: block;
  position: absolute;
  visibility: hidden;
  opacity: 0;
  top: calc(32px);
  scale: 0.9;
  transition:
    top 0.4s $cubic,
    scale 0.4s $cubic,
    opacity 0.1s linear;
  z-index: 200;

  &[active] {
    position: fixed;
    visibility: visible;
    opacity: 1;
    top: 42px;
    scale: 1;
  }
}

player-contain {
  display: block;
  position: fixed;
  z-index: 101;
  top: $main-distance;
  right: calc(2 * $main-distance + (1 * ($main-distance/1.2)));

  @media screen and (max-width: $laptop-max-width) {
    right: calc($main-distance);
  }

  @media screen and (max-width: $hide-sidebar-max-width) {
    right: initial;
    top: initial;
    left: 50%;
    bottom: $main-distance-smol;
    translate: -50% 0;
    height: $player-height;
    width: calc(100vw - 2 * $hide-sidebar-sidebar-width);
    display: flex;
    justify-content: center;
    background: $slighter-light;
    border-top: 1px solid rgba(255, 255, 255, 0.08);
    border-bottom: 1px solid rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(10px);
    border-radius: 12px;
    padding-bottom: 12px;
    z-index: 97;
  }

  @media screen and (max-width: $mobile-max-width) {
    width: calc(100vw - 2 * $main-distance-smol);
  }

  dot-divider {
    @media screen and (max-width: $hide-sidebar-max-width) {
      display: none;
    }
  }

  [player-tools] {
    display: flex;
    align-items: center;
    gap: $gap-smol;

    @media screen and (max-width: $hide-sidebar-max-width) {
      display: none;
    }

    &:hover {
      mbutton {
        margin-left: 0;
      }
    }

    mbutton {
      margin-left: -28px;
      box-shadow: var(--mio-theme-elevation-1);
    }
  }
}

player {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.6s $cubic;

  &[fullscreen] {
    bottom: 0;
    width: 100%;
    height: 100%;
    transition:
      width 1.2s $cubic,
      height 0.4s $cubic,
      bottom 0.4s $cubic;
    cursor: none;

    &[cursor-moved] {
      cursor: initial;

      fullscreen-player-close {
        opacity: 1;
      }

      player-content {
        player-metadata {
          div:not([sizing]) {
            opacity: 0;
            visibility: hidden;
          }
        }

        player-actions {
          bottom: $main-distance * 3;
        }
      }
    }

    fullscreen-player-close {
      opacity: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }

    player-content {
      @extend .cover-full;

      transition: none;
      border-radius: 0px;
      max-width: initial;
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: column;
      align-items: stretch;
      justify-content: stretch;
      padding-inline: 42px;
      padding-block: 32px;

      player-metadata {
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        gap: $gap-std;
        width: 100%;
        flex: 1;
        padding: 0;

        [title] {
          font-size: 24px;
        }

        [sizing] {
          height: 100%;
          width: 100%;
          transition: none;
        }

        picture {
          height: 480px;
          width: 480px;
          margin: 0 auto;
          box-shadow: var(--mio-theme-elevation-3);
          border-radius: 24px;
          transition:
            height 1.4s $cubic,
            width 1.4s $cubic;

          fullscreen-player {
            display: none;
          }

          &:not([has-art]) > mi {
            font-size: 382px;
            margin-bottom: -92px;
            margin-left: -82px;
          }
        }
      }

      player-actions {
        position: absolute;
        bottom: -$player-height;
        height: $player-height;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-inline: 42px;
        animation: delayed-visibility 0.4s linear forwards;
        animation-delay: 1s;
        opacity: 0;
        transition:
          opacity 0s,
          bottom 0.6s $cubic;

        @keyframes delayed-visibility {
          from {
            opacity: 0;
          }

          to {
            opacity: 1;
          }
        }

        & > div:first-of-type {
          width: 56px;
        }

        [main-controls] {
          gap: $gap-mid;
        }

        [divider],
        [data-action="player:hide"] {
          display: none;
        }
      }

      player-overflow {
        border-radius: 0;
      }

      duration-track {
        border-radius: 0;
      }
    }
  }

  fullscreen-player-close {
    display: none;
    position: absolute;
    top: $main-distance * 2;
    right: $main-distance * 2;
    height: $mbutton-mid-size;
    width: $mbutton-mid-size;
    opacity: 0.6;
    z-index: 3;
    border-radius: 50%;
    transition:
      scale 0.6s $cubic,
      background 0.6s $cubic;

    &:hover {
      scale: 1.12;
      background: $slight-light;
      opacity: 1;
    }
  }

  player-content {
    $player-border-radius: 20px;
    transition: $trans-cubic;

    player-overflow {
      display: block;
      position: fixed;
      overflow: hidden;
      top: 0;
      left: 50%;
      translate: -50% 0;
      background: $slight-light;
      border-radius: 0 0 12px 12px;
      width: calc(100vw - 4 * $main-distance);
      height: 8px;
      cursor: pointer;

      @media screen and (max-width: $laptop-max-width) {
        width: calc(100vw - $main-distance-smol * 4);
      }

      @media screen and (max-width: $hide-sidebar-max-width) {
        top: initial;
        bottom: 0;
        border-radius: 12px 12px 0 0;
        position: absolute;
        width: calc(100% - 2 * $main-distance-smol);
      }

      &:hover {
        height: 12px;
      }
    }

    duration-track {
      display: block;
      position: absolute;
      width: 0%;
      transition: all 0.1s linear;
      left: 0;
      z-index: 0;
      height: 100%;
      border-radius: 12px;
      background: rgba(231, 17, 88, 0.82);
    }

    player-actions {
      position: relative;
      z-index: 1;
      transition: $trans-cubic;

      [next],
      [previous] {
        transition: $trans-cubic;
        height: $mbutton-std-plus-size;
        width: $mbutton-std-plus-size;
        min-width: $mbutton-std-plus-size;
        padding: 0;
        font-size: 1.8em;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;

        @extend .window-light;

        @media screen and (max-width: $hide-sidebar-max-width) {
          height: $mbutton-std-size;
          width: $mbutton-std-size;
          min-width: $mbutton-std-size;
        }

        &:hover {
          background: $slight-light;
          scale: 1.1;
        }

        &:active {
          background: $slighter-light;
          scale: 0.98;
        }
      }

      [play] {
        transition: $trans-cubic;
        background: $tertiary;
        color: $dark;
        position: relative;
        z-index: 3;
        height: $mbutton-std-plus-size;
        width: $mbutton-std-plus-size;
        border-radius: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.8em;
        cursor: pointer;

        @media screen and (max-width: $hide-sidebar-max-width) {
          width: $mbutton-std-size;
          height: $mbutton-std-size;
        }

        &::before {
          position: absolute;
          top: 50%;
          left: 50%;
          translate: -50% -50%;
          height: 100%;
          width: 100%;
          border-radius: 50%;
          background: $hover-green;
          opacity: 1;
          z-index: 0;
        }

        mi {
          rotate: 180deg;
        }

        mi::before {
          content: "play_arrow";
        }

        &:hover {
          scale: 1.08;
        }

        &:active {
          scale: 0.98;
        }
      }
    }
  }

  &[active] {
    player-actions {
      [play] {
        background: $active;
        color: $active-text;
        animation: play-button-start 0.8s $cubic;

        &::before {
          display: block;
          content: "";
          animation: pulse 1s linear forwards;

          @keyframes pulse {
            from {
              opacity: 1;
              width: 100%;
              height: 100%;
            }

            40% {
              opacity: 0;
              width: calc(100% + 62px);
              height: calc(100% + 62px);
            }

            100% {
              opacity: 0;
              height: 100%;
              width: 100%;
            }
          }
        }

        mi::before {
          content: "pause";
        }

        &:hover {
          background: $active;
        }
      }

      @keyframes play-button-start {
        from {
          scale: 1;
          pointer-events: none;
        }

        33% {
          scale: 1.24;
          pointer-events: none;
        }

        66% {
          scale: 0.88;
          pointer-events: none;
        }

        99% {
          scale: 1;
          pointer-events: none;
        }

        100% {
          pointer-events: default;
        }
      }
    }
  }
}

volume-controls {
  position: relative;

  @media screen and (max-width: $hide-sidebar-max-width) {
    display: none !important;
  }

  &[volume] {
    &[volume="0"],
    &[volume="0.0"] {
      [volume-display] {
        background: rgba(237, 23, 87, 0.62);

        [muted] {
          visibility: visible;
          opacity: 1;
          width: 1.6em;
        }

        mi::before {
          content: "volume_up";
          // color: $red;
        }
      }
    }

    &[volume="0.1"],
    &[volume="0.2"],
    &[volume="0.3"],
    &[volume="0.4"],
    &[volume="0.5"] {
      [volume-display] mi {
        &::before {
          content: "volume_down";
        }
      }
    }

    &[volume="0.6"],
    &[volume="0.7"],
    &[volume="0.8"],
    &[volume="0.9"],
    &[volume="1.0"],
    &[volume="1"] {
      [volume-display] {
        mi {
          &::before {
            content: "volume_up";
          }
        }
      }
    }

    &[volume="1.0"],
    &[volume="1"] {
      [volume-display] {
        background: rgba(244, 156, 48, 0.22);
      }
    }
  }

  [volume-display] {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 48px;
    border-radius: 50%;
    cursor: pointer;

    [muted] {
      transition: $trans-cubic;
      visibility: hidden;
      opacity: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      translate: -50% -50%;
      width: 0;
      rotate: 35deg;
      height: 4px;
      // border: 2px solid rgba(237, 23, 87, 1);
      border-radius: 4px;
      background: $light;
    }
  }

  [controls] {
    z-index: 2;
    visibility: hidden;
    opacity: 0;
    display: flex;
    flex-direction: column;
    gap: $gap-smoler;
    position: absolute;
    top: 100%;
    left: 50%;
    translate: -50% 0;
    background: white;
    border-radius: 38px;
    color: $dark;
    padding: 8px;
    margin-top: -12px;
    transition: $trans-cubic;
  }

  &:hover {
    [volume-display] {
      background: $slighter-light;
      scale: 1.08;
    }

    [controls] {
      visibility: visible;
      opacity: 1;
      margin-top: -1px;
    }
  }
}
