@use "../framework/var.utils" as *;
@use "../framework/var.sizes" as *;
@use "../abstract" as *;

sidebar {
  display: block;
  position: fixed;
  height: auto;
  z-index: 98;

  @media screen and (max-width: $mobile-max-width) {
    display: none !important;
  }

  &[right],
  &[left] {
    top: $bruder-distance;
    width: $sidebar-width;
    min-width: 285px;
    max-height: calc(
      100vh - $bruder-height - 2 * $main-distance - ($main-distance/2)
    );
    padding-inline: $main-distance;
    display: flex;
    flex-direction: column;
    gap: $gap-smol;
    transition: $trans-cubic;

    @media screen and (max-width: $laptop-max-width) {
      width: $sidebar-laptop-width;
      max-height: calc(100vh - $bruder-height - 4 * $main-distance-smol - 4px);
      padding-inline: $main-distance-smol;
    }

    > section {
      border-radius: 26px;
      transition: $trans-cubic;
      scrollbar-width: none;
    }
  }

  &[right] {
    right: 0;

    @media screen and (max-width: $hide-sidebar-max-width) {
      right: calc(-1 * ($sidebar-laptop-width - 3 * $main-distance));

      &:hover {
        right: 0;
      }
    }

    section {
      padding: $cover-from-border-padding;
      overflow: auto;
    }

    current-track {
      cover {
        [hint] {
          opacity: 0.8;

          action-row {
            transition: $trans-cubic;
            display: block;
            opacity: 0;
          }
        }
      }

      &:hover {
        cover [hint] {
          opacity: 1;

          action-row {
            opacity: 1;
          }
        }
      }

      &[has-video] {
        cover {
          position: relative;
          display: block;
          width: 100%;
          max-height: 560px;
          margin-bottom: -4.8em;
          border-radius: 16px;
          overflow: hidden;
          z-index: 0;

          &[title-size="stdplus"] {
            margin-bottom: -4.9em;
          }

          &[title-size="midler"] {
            margin-bottom: -5.2em;
          }

          &[title-size="wide"] {
            margin-bottom: -6.4em;
          }

          &:before {
            position: absolute;
            bottom: 0;
            left: 0;
            height: 100%;
            width: 100%;
            z-index: 2;
            display: block;
            content: "";
            background: #101012;
            background: linear-gradient(
              0deg,
              rgba(16, 16, 18, 0.8) 0%,
              rgba(16, 16, 18, 0.5) 10%,
              rgba(16, 16, 18, 0.2) 20%,
              rgba(16, 16, 18, 0) 32%
            );
          }

          video {
            width: 100%;
          }
        }

        [track-metadata] {
          position: relative;
          z-index: 2;
          padding-bottom: 24px;
        }
      }

      &:not([has-video]) {
        cover {
          position: relative;
          display: block;
          width: 100%;
          padding-top: 100%;

          picture {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            border-radius: 18px;
            background-color: $hover-dark;
            overflow: hidden;

            mi {
              font-size: 300px;
              position: absolute;
              bottom: -72px;
              left: -62px;
            }

            img {
              border-radius: 16px;
            }
          }
        }
      }

      [track-metadata] {
        padding-inline: 18px;

        [title] {
          line-height: 1.2;
        }
      }

      [artist] {
        cover-art {
          display: block;
          position: relative;

          [metadata] {
            position: absolute;
            bottom: 0;
            z-index: 3;
            padding: 18px 24px;
          }

          picture {
            position: relative;
            width: 100%;
            max-height: 360px;
            border-radius: 16px;
            // border: 1px solid $hover-dark;
            overflow: hidden;

            &:before {
              position: absolute;
              bottom: 0;
              left: 0;
              height: 60%;
              width: 100%;
              z-index: 2;
              display: block;
              content: "";
              background: #000000;
              background: linear-gradient(
                0deg,
                rgba(0, 0, 0, 0.64) 0%,
                rgba(0, 0, 0, 0) 100%
              );
            }

            img {
              object-fit: cover;
              vertical-align: middle;
            }
          }
        }
      }
    }
  }

  &[left] {
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;

    @media screen and (max-width: $hide-sidebar-max-width) {
      left: calc(-1 * ($sidebar-laptop-width - 3 * $main-distance));

      &:hover {
        left: 0;
      }
    }

    section {
      max-height: calc(100vh - $bruder-distance - $main-distance);
      overflow: auto;
      scrollbar-width: none;
      padding-top: 2px;
    }

    library {
      position: relative;
      display: flex;
      flex-direction: column;
      gap: $gap-smoler;
      padding: 6px;

      &[view="grid"] {
        bookmarks {
          display: flex;
          flex-wrap: wrap;
          flex-direction: row;
          gap: $gap-smoler;

          song {
            margin-block: 4px;
          }

          a {
            position: relative;
            flex-basis: calc(50% - $gap-smolest);
            max-width: calc(50% - $gap-smolest);

            moption {
              display: block;
              padding: 4px;
              border-radius: 16px;

              [playing] {
                position: absolute;
                height: 2em;
                width: 2em;
                right: 12px;
                top: 12px;
                translate: 0 0;
              }

              [metadata] {
                padding-block: 4px;
                padding-inline: 8px;
                line-height: 0.6;

                [title] {
                  font-size: $font-size-smol-plus;
                }
              }
            }
          }

          cover {
            width: 100%;
            padding-top: 100%;

            &[single] {
              & > div {
                justify-content: stretch;
                align-items: stretch;

                picture {
                  width: 100%;
                  padding-top: 100%;

                  img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                    width: 100%;
                  }

                  mi {
                    bottom: -48px;
                    left: -22px;
                    font-size: 120px;
                  }
                }
              }
            }
          }
        }
      }

      &[view="list"] {
        a {
          position: relative;
          max-width: 100%;

          moption {
            padding: 2px;
            padding-right: 16px;
            border-radius: 16px;
            display: flex;
            align-items: center;
            gap: $gap-smol-plus;
            cursor: pointer;

            [metadata] {
              margin-top: -4px;

              [title] {
                font-size: $font-size-std;
                font-weight: 600;
              }
            }
          }
        }
      }

      // The buttons to the change the view.
      library-view {
        [view] {
          &[active] {
            background: $slighter-light;
            color: $tertiary;

            mi {
              font-weight: 800;
            }
          }
        }
      }

      // The actual bookmarks in the library like artists, playlists and albums.
      bookmarks {
        display: flex;
        flex-direction: column;
        gap: $gap-smoler;

        a {
          &[active] {
            moption {
              background: $slighter-light;

              [playing] {
                display: flex;
                align-items: center;
                justify-content: center;
              }

              [title] {
                color: $tertiary;
                font-weight: 800;
              }

              mi {
                font-weight: 800;
              }
            }
          }

          moption {
            &:hover {
              background: $slighterer-light;
            }

            &[artist] {
              border-radius: 24px;

              cover {
                & > div {
                  border-radius: 23px;
                }

                picture {
                  border-radius: 22px;
                }
              }
            }

            [playing] {
              display: none;
              position: absolute;
              height: 2em;
              width: 2em;
              right: 8px;
              top: 50%;
              translate: 0 -50%;
            }

            [title] {
              font-weight: 600;
            }

            [metadata] {
              line-height: 0.6;
            }

            // The cover images, handling single covers for artists and albums multi-
            // covers for playlists like in spotify's library.
            cover {
              $playlist-cover-size: 3em;

              display: block;
              position: relative;
              height: $playlist-cover-size;
              width: $playlist-cover-size;

              & > div {
                display: flex;
                flex-wrap: wrap;
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                border-radius: 13px;
                border: 1px solid $slight-light;
                overflow: hidden;
              }

              &[single] {
                picture {
                  background-color: $slighterer-dark;
                  border-radius: 12px;

                  mi {
                    display: block;
                    position: absolute;
                    bottom: -18px;
                    left: -6px;
                    height: 100%;
                    width: 100%;
                    font-size: 42px;
                  }
                }
              }

              picture {
                position: relative;
                height: $playlist-cover-size;
                width: $playlist-cover-size;
                min-width: $playlist-cover-size;
                min-height: $playlist-cover-size;
              }

              &[no-custom-art] {
                &:not([no-custom-art="1"]),
                &:not([no-custom-art="2"]),
                &:not([no-custom-art="3"]) {
                  picture {
                    flex-basis: 50%;
                    padding-top: 50%;
                    height: initial;
                    min-height: initial;
                    min-width: initial;

                    img {
                      object-fit: cover;
                      position: absolute;
                      top: 0;
                      left: 0;
                      height: 100%;
                      width: 100%;
                    }
                  }
                }

                &[no-custom-art="1"] {
                  picture {
                    width: $playlist-cover-size;
                    flex-basis: 100%;
                  }
                }

                &[no-custom-art="2"] {
                  picture {
                    flex-basis: 50%;
                  }
                }

                &[no-custom-art="3"] {
                  picture {
                    flex-basis: 50%;

                    &:nth-of-type(3) {
                      flex-basis: 100%;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
