@use "../framework/var.sizes" as *;
@use "../framework/var.utils" as *;
@use "../abstract" as *;

song {
  position: relative;
  transition: $trans-cubic;
  width: 100%;

  @media screen and (max-width: $mobile-max-width) {
    [track-count] {
      display: none;
    }
  }

  &[in-album] {
    [content] {
      padding-block: 10px;
    }
  }

  &:not([in-album], [in-library]) {
    &[active]:not([display-only]) {
      album-art {
        picture {
          border-radius: 50%;
          position: relative;
          border: 2px solid $light;
          height: 60px;
          width: 60px;
          margin-left: -8px;
          margin-right: -6px;
          animation: rotate 6s linear infinite;

          @keyframes rotate {
            from {
              rotate: 0deg;
            }

            to {
              rotate: 360deg;
            }
          }

          @media screen and (max-width: $mobile-max-width) {
            height: 2.4em;
            width: 2.4em;
            margin: 0;
          }

          mi {
            font-size: 52px;
            left: 50%;
            bottom: 50%;
            translate: -50% 50%;
          }

          &::before {
            content: "";
            display: block;
            position: absolute;
            border: 2px solid $light;
            background: $dark;
            border-radius: 50%;
            height: 10px;
            width: 10px;
            top: 50%;
            left: 50%;
            translate: -50% -50%;
            z-index: 2;
          }
        }
      }
    }
  }

  // ? General
  [content] {
    padding-block: 6px;
    padding-left: 12px;
    padding-right: 8px;
    border-radius: 16px;
    transition:
      $trans-cubic,
      border 0s linear;
    cursor: pointer;

    @media screen and (max-width: $mobile-max-width) {
      border-radius: 18px;
      padding-left: 6px;

      & > [gap] {
        gap: $gap-smol-plus !important;
      }
    }

    &:hover {
      background: $slighter-light;
      padding-right: 12px;
    }

    &:active {
      scale: 0.99;
    }

    [title] {
      font-size: $font-size-std-plus;

      @media screen and (max-width: $laptop-max-width) {
        font-size: $font-size-std;
      }
    }

    [artist] {
      font-size: $font-size-smoler;
    }

    [status-icon] {
      display: none;
    }

    album-art {
      display: block;

      &[has-album] {
        picture {
          background: transparent;
        }
      }

      picture {
        height: 2.4em;
        width: 2.4em;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 12px;
        overflow: hidden;
        background-color: $primary;

        mi {
          position: absolute;
          bottom: -10px;
          left: -6px;
          font-size: 42px;
        }

        img {
          flex: 1;
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }
    }
  }

  &[active] {
    [content] {
      padding-block: 14px;
      background: $slight-green;

      @media screen and (max-width: $mobile-max-width) {
        padding-block: 6px;
        border-radius: 42px;
      }

      &:hover {
        background: $slighter-green;
      }

      [status-icon] {
        &::before {
          content: "pause";
        }
      }
    }
  }

  &[paused] {
    [content] {
      padding-block: 10px;
      background: $slight-yellow;

      @media screen and (max-width: $mobile-max-width) {
        padding-block: 6px;
      }

      &:hover {
        background: $slighterer-green;
      }

      [status-icon]::before {
        content: "resume";
      }
    }
  }

  &[active],
  &[paused] {
    [content] {
      padding-right: 16px;

      @media screen and (max-width: $mobile-max-width) {
        padding-right: 6px;
      }

      [right-info] {
        display: none;
      }

      [status-icon] {
        display: block;
        height: 1.8em;
        width: 1.8em;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background: $slight-dark;

        @media screen and (max-width: $mobile-max-width) {
          height: 1.5em;
          width: 1.5em;
        }
      }
    }
  }

  &[moving] {
    position: fixed;
    width: 700px;
    pointer-events: none;
  }

  &[moving-temporary] {
    background: $slight-light;
    border: 2px dotted $secondary;
    border-radius: 12px;
  }

  // Simple view in add-to or else.
  &[simple] [content] {
    background: $slighter-light;
    border-radius: 16px;
    padding: 4px;
    padding-right: 12px;
    pointer-events: none;
    line-height: 0.6;
  }

  &[in-library] {
    [content] {
      padding: 2px;

      [title] {
        font-size: $font-size-std;
      }
    }

    album-art {
      picture {
        border: 1px solid rgba(0, 0, 0, 0.04);
        border-radius: 14px;
        height: 58px;
        width: 58px;
      }
    }

    &[active] {
      [content] {
        margin-block: 4px;
        padding: 4px;
        background: $slighter-green;
        border-radius: 62px 32px 32px 62px;
      }

      album-art {
        margin-top: -2px;
        margin-bottom: -2px;
        margin-left: -2px;

        picture {
          border: 2px solid white;
          border-radius: 50%;
          animation: rotate 6s linear infinite;

          @keyframes rotate {
            from {
              rotate: 0deg;
            }

            to {
              rotate: 360deg;
            }
          }

          mi {
            font-size: 52px;
            left: 50%;
            bottom: 50%;
            translate: -50% 50%;
          }

          &::before {
            content: "";
            display: block;
            position: absolute;
            border: 2px solid $light;
            background: $dark;
            border-radius: 50%;
            height: 10px;
            width: 10px;
            top: 50%;
            left: 50%;
            translate: -50% -50%;
            z-index: 2;
          }
        }
      }
    }

    &[paused] {
      [content] {
        padding: 2px;
        background: $slight-yellow;
      }
    }
  }
}

[tracks] {
  &[add-to] {
    &:is(:empty) {
      display: flex !important;
      justify-content: space-between !important;
      flex-direction: row;

      &::before {
        content: "";
        display: block;
        width: 80%;
        height: 18px;
        border-radius: 12px;
        background: $slight-light;
      }

      &::after {
        content: "";
        display: block;
        width: 18%;
        height: 18px;
        border-radius: 12px;
        background: $slight-light;
      }
    }

    [option] {
      position: relative;
      padding-inline: 12px;
      padding-block: 8px;
      border-radius: 12px;
      transition: $trans-cubic;
      cursor: pointer;

      &:hover {
        scale: 1.008;
        background: $slight-light;
      }

      [status-icon] {
        &::before {
          content: "music_note_add";
          font-size: 22px;
        }
      }

      &[active] {
        background: $tertiary;
        color: $tertiary-text;

        [status-icon] {
          &::before {
            content: "check";
          }
        }
      }
    }

    [play-track] {
      background: $primary;
      color: $primary-text;

      mi::before {
        content: "play_arrow";
      }
    }

    [track] {
      &[active] {
        [play-track] {
          background: $light;
          color: $dark;

          mi::before {
            content: "pause";
          }
        }
      }

      &[paused] {
        [play-track] {
          background: $secondary;
          color: $secondary-text;

          mi::before {
            content: "resume";
          }
        }
      }
    }
  }

  &[play-only] {
    display: flex;
    flex-direction: column;

    [track] {
      [option] {
        padding: 8px;
        padding-right: 12px;
        border-radius: 12px;
        cursor: pointer;

        &:hover {
          background: $slight-light;
        }

        &:active {
          background: $slighter-light;
          scale: 0.99;
        }

        picture {
          border-radius: 10px;

          img {
            border-radius: 10px;
          }
        }

        [status-icon] {
          &::before {
            content: "play_circle";
          }
        }
      }

      &[active] {
        [option] {
          background: $primary;
          color: $primary-text;

          [status-icon]::before {
            content: "pause";
          }
        }
      }

      &[paused] {
        [option] {
          background: $slight-light;

          [status-icon]::before {
            content: "resume";
          }
        }
      }
    }
  }
}
